<div
  class="mat-elevation-z0"
  fxLayout="column"
  fxLayoutAlign="end">
  <mat-table
    *ngIf="tableData"
    [dataSource]="tableDateSource"
    class="table-custom mat-elevation-z1">
    <ng-container
      *ngFor="let column of tableHeaderColumns"
      [matColumnDef]="column.key">
      <mat-header-cell *matHeaderCellDef>{{column.caption}}</mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        (click)="navigateTo(row)">
        {{ dateService.isNaN((row[column.key])) ? (dateService.isDate(row[column.key]) ? (row[column.key] | date: 'dd.MM.yyyy HH:mm') :
        row[column.key] ? (row[column.key] | normalizeEnum) : (row[column.key] | defaultValue:'-')) : row[column.key]
        }}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="tableHeaderKeys"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: tableHeaderKeys;"
      class="hover-pointer">
    </mat-row>
  </mat-table>
  <mat-paginator
    *ngIf="tableDateSource.data.length > availablePaginatorLength"
    showFirstLastButtons
    [pageSizeOptions]="[5, 10, 20]"
    class="table-custom__pagination">
  </mat-paginator>
</div>
