.sidebar {
  height: calc(100vh - 48px);
  width: 250px;
  box-shadow: 4px 0 5px -2px gray;

  li:hover {
    cursor: pointer;
    background: #daeff6;
  }
}

.sidebar__elements_item-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: darkblue;
  padding: 5px 0;
}

.sidebar__elements_item-link:hover {
  text-decoration: underline;
}

button:focus {
  outline: none !important;
}

@media (max-width: 640px) {
  .sidebar {
    width: 85px;
  }
}
