<div class="sidebar sidebar-sticky bg-light">
  <ul class="nav flex-column">
    <li
      *ngFor="let element of menu"
      fxLayout="column"
      fxLayoutAlign="center"
      (click)="select(element)"
      [ngClass]="{active: isActive(element)}">

      <div
        class="p-4 ml-2"
        fxLayout
        fxLayoutAlign=" center"
        (click)="router.navigate([element.route])">

          <mat-icon color="primary">
            {{element.iconClass}}
          </mat-icon>

        <a
          class="ml-2 active"
          fxHide.sm
          [routerLink]="element.route">
          {{element.name}}
        </a>

      </div>

      <mat-divider class="w-100"></mat-divider>
    </li>
  </ul>

  <!--  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">-->
  <!--    <span>My reports</span>-->
  <!--    <span class="sidebar__elements_btn" *ngIf="itemLimit < reportsSaved.length" (click)="showMoreItems()">-->
  <!--      <svg class="bi bi-backspace-reverse" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"-->
  <!--           xmlns="http://www.w3.org/2000/svg">-->
  <!--        <path fill-rule="evenodd"-->
  <!--              d="M11.08 4H4a1 1 0 00-1 1v10a1 1 0 001 1h7.08a1 1 0 00.76-.35L16.682 10l-4.844-5.65A1 1 0 0011.08 4zM4 3a2 2 0 00-2 2v10a2 2 0 002 2h7.08a2 2 0 001.519-.698l4.843-5.651a1 1 0 000-1.302L12.6 3.7a2 2 0 00-1.52-.7H4z"-->
  <!--              clip-rule="evenodd"></path>-->
  <!--        <path fill-rule="evenodd"-->
  <!--              d="M11.854 7.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.708 0z"-->
  <!--              clip-rule="evenodd"></path>-->
  <!--        <path fill-rule="evenodd" d="M6.146 7.146a.5.5 0 000 .708l5 5a.5.5 0 00.708-.708l-5-5a.5.5 0 00-.708 0z"-->
  <!--              clip-rule="evenodd"></path>-->
  <!--      </svg>-->
  <!--      <span data-feather="plus-circle"></span>-->
  <!--    </span>-->
  <!--    <span class="sidebar__elements_btn"  title="ShowLess" *ngIf="itemLimit > 3" (click)="showLessItems()">-->
  <!--      <svg width="1em" height="1em" viewBox="0 0 20 20" focusable="false" role="img" alt="icon"-->
  <!--           xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-backspace mx-auto b-icon bi">-->
  <!--        <g>-->
  <!--          <path fill-rule="evenodd"-->
  <!--                d="M8.603 4h7.08a1 1 0 011 1v10a1 1 0 01-1 1h-7.08a1 1 0 01-.76-.35L3 10l4.844-5.65A1 1 0 018.603 4zm7.08-1a2 2 0 012 2v10a2 2 0 01-2 2h-7.08a2 2 0 01-1.519-.698L2.241 10.65a1 1 0 010-1.302L7.084 3.7A2 2 0 018.603 3h7.08z"-->
  <!--                clip-rule="evenodd"></path>-->
  <!--          <path fill-rule="evenodd" d="M7.83 7.146a.5.5 0 000 .708l5 5a.5.5 0 00.707-.708l-5-5a.5.5 0 00-.708 0z"-->
  <!--                clip-rule="evenodd"></path>-->
  <!--          <path fill-rule="evenodd" d="M13.537 7.146a.5.5 0 010 .708l-5 5a.5.5 0 01-.708-.708l5-5a.5.5 0 01.707 0z"-->
  <!--                clip-rule="evenodd"></path>-->
  <!--        </g>-->
  <!--      </svg>-->
  <!--      <span data-feather="plus-circle"></span>-->
  <!--    </span>-->
  <!--  </h6>-->
  <!--  <ul class="nav flex-column mb-2" *ngFor="let report of reportsSaved | slice : startItem:itemLimit">-->
  <!--    <li class="nav-item">-->
  <!--      <a class="nav-link" href="#">-->
  <!--        <span data-feather="file-text"></span>-->
  <!--        {{report}}-->
  <!--      </a>-->
  <!--  </ul>-->
</div>
