<div
  class="d-flex justify-content-between align-items-center p-4">
  <h2>Поступления</h2>
  <button
    mat-raised-button
    color="primary"
    (click)="openGoodsEditDialog()">
    <mat-icon>add_circle_outline</mat-icon>
    <span class="ml-1">Внести новое</span>
  </button>
</div>

<div
  class="d-flex align-items-center px-4"
  [formGroup]="form">

  <mat-form-field appearance="fill">

    <mat-label>{{'Дата поступления'}}</mat-label>
    <input
      matInput
      placeholder="{{'Дата поступления'}}"
      formControlName="incomeDate"
      [matDatepicker]="dateCreatedPicker"
      required>

    <mat-datepicker-toggle matSuffix [for]="dateCreatedPicker"></mat-datepicker-toggle>
    <mat-datepicker #dateCreatedPicker></mat-datepicker>
  </mat-form-field>

  <div
    class="download-button d-flex justify-content-around align-items-center ml-2"
    title="Скачать в формате XLS">
    <i class="far fa-file-excel cursor-pointer"></i>
  </div>
</div>

<div class="px-4">
  <app-table
    *ngIf="goodsTableData.length"
    (rowAction)="openGoodsEditDialog($event)"
    [availablePaginatorLength]="10"
    [tableData]="goodsTableData"
    [tableHeaderColumns]="goodsTableHeader">
  </app-table>
</div>
